/*1200*/
#community-home{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;

}

.topic-best,.topic-bla,.topic-worry,.topic-love{
    position: relative;
    width: calc(100% - 40px);
    /*padding: 0 20px;*/
    border-bottom: 8px solid #f2f2f3;
    padding-right: 5px;
    padding-left: 35px;
}


 .topic-name {
    height: 45px;
    padding-right: 52px;
    padding-left: 10px;
    border-bottom-width: 2px;
    font-size: 18px;
    line-height: 43px;
}
.topic-best .topic-name {
    top:-30px;
    font-size: 28px; /* 원하는 글자 크기로 설정 */
}


.btn-more {
    position: relative;
    top: -30px;
    left: 1100px;
    padding-right: 16px;
    color: #222;
    font-size: 12px;
}

#write-btn{
    position: relative;
    top: -60px;
    left: 300px;
    padding-right: 8px;
    background-color: #FFA600;
    font-size: 12px;
    color:black;
    border:0;
    /*position: relative;*/
    /*top: -30px;*/
    /*left: 1100px;*/
    /*padding: 16px 32px; !* 패딩을 추가하여 크기를 키움 *!*/
    /*color: #222;*/
    /*font-size: 20px; !* 글자 크기를 키움 *!*/
    /*text-align: center; !* 글자를 가운데에 놓음 *!*/
    /*display: inline-block; !* display 속성을 inline-block으로 변경 *!*/
    /*line-height: 1.5; !* 줄 높이를 설정하여 글자를 가운데 정렬 *!*/

}

.community-name{
    display: block;
    border: 1px solid #787e89;
    color:#787e89;
    text-align: center;
    width:40px;
    height:15px;
    font-size:10px;
}
.community-title, .community-contents, .community-nick, .community-date{
    font-size: 14px;
    margin: 0px;
    /*float:left;*/
}
.community-view-count,.community-like-cnt,.community-comment-count{
    position: relative;
    right:-800px;
    font-size:10px;
    color:#787e89;
    margin: 0px;
}
#topic-best-horizon{
    position:relative;
    top:-20px;
}