.maincontent{
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}

.community-write-category .row [id="community-write-title"] {
    margin-top: 16px;
    width: 83%;
    height: 48px;
    border: 0;
    background-color: rgba(204, 204, 204, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    padding-left: 10px;
    transition: none; /* 모든 전환 효과 제거 */
    outline:none !important;
}
/*}*/



.community-write-container {
    margin: 20px;
    height: 154px;
    box-sizing: border-box;
    padding: 20px 28px;
    border-radius: 12px;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.community-write-container .community-write-category {
    font-size: 14px;
    display: block;
}

.community-write-category .row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 중앙 정렬 */
}

.community-write-category .row-category {
    flex: 0; /* 남은 공간을 차지하게 함 */
}

.community-write-category .row .category-wrapper {
    width: 90%; /* 카테고리 셀렉트 박스의 너비를 설정 */
    padding-right: 0;
}

.community-write-category .row-button {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격을 설정 */
    margin-left: 0;
    justify-content: flex-start;
}

.community-write-category .commu-cd {
    margin-top: 0;
    padding-top: 10px;
    border: 0;
    border-bottom: 1px solid #cccccc;
    width: 910px; /* 부모 요소의 너비를 차지하게 함 */
    height: 48px;
    font-size: 14px;
    outline:none !important;
}

.community-write-category .commu-button {
    width: 56px;
    height: 30px;
    background-size: 50px 30px;
    background-color: rgba(238,135,3,0.2);
    color: #ee8703;
    font-size: 14px;
    padding: 0 15px;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;

}

.community-write-category #alter {
    width: 80px;
    height: 30px;
    background-size: 50px 30px;
    background-color: rgb(228, 229, 231);
    color: #706f6e;
    font-size: 14px;
    padding: 0 15px;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin-left:10px;
    justify-content: center;
}

.community-contents-container{
    margin:20px;
    padding: 20px 28px;
    min-height:300px;
    width:1160px;
    resize: none;
    box-sizing: border-box;
    border:1px solid #cccccc;
    border-radius: 12px;
}

#fileItem{
    padding-left: 29px;
}

#contents{
    padding-top: 20px;
    padding-left:10px;
    right:200px;
    width:1100px;
    min-height:300px;
    resize: none;
    border: 0;
    border-top: 1px solid #cccccc;
    outline: none;
    font-size: 14px;
}

.commu-button{
    margin-top: 0;
    width:5%;
    height:30px;
    background-size: 50px 30px;
    background-color: rgba(238,135,3,0.2);
    color: #ee8703;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;

}

.imgreg-box{
    display: flex;
}

.regimgbtn{
    display: inline-block;
    width: 78px;
    height: 78px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #f1f4f6;
    border-radius: 5px;
    background-position: 50% 36%;
    margin-right: 10px;
    cursor: pointer;
}

#resizable{
    border-radius: 5px;
}

#result_card{
    position: relative;
}

.imgDeleteBtn{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    background-color: #f1f4f6;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    color: #131414;
    line-height: 18px;
    cursor: pointer;
}

.form_section_content{
    position: relative;
}

.imgcnt{
    position: absolute;
    left: 50%;
    bottom :5px;
    transform: translateX(-70%);
    color: #9ca3af;
}

.community-contents-text{
    padding-top: 18px;
}
