.maincontent{
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}

/*Ã¬Â¹Â´Ã­â€¦Å’ÃªÂ³ Ã«Â¦Â¬ Ã¬ Å“Ã«ÂªÂ© Ã«â€œÂ±Ã«Â¡Â Ã¬Ë†ËœÃ¬ â€¢ Ã¬â€šÂ­Ã¬ Å“ Ã«Â²â€žÃ­Å Â¼*/
.community-write-container{
    /*   Ã¬Â½ËœÃ­â€¦ÂÃ¬Â¸  (Ã«â€žâ€œÃ¬ÂÂ´,Ã«â€ â€™Ã¬ÂÂ´) */
    /*width:862px;*/
    margin:20px;
    height:154px;
    box-sizing: border-box;
    padding:20px 28px;
    border-radius: 12px;
    border: 1px solid#cccccc;
    background-color: #fff;
}
.community-write-container .community-write-category{

    display: block;
}
.community-write-category .row:nth-child(2) [class="commu-cd"]{
    margin-top: 0;
    padding-top:10px;
    border:0;
    border-bottom:1px solid #cccccc;
    width:80%;
    height: 48px;
}

.community-write-category .row [id="community-write-title"]{
    margin-top: 16px;
    width:80%;
    height: 48px;
    border: 0;
    background-color:rgba(204,204,204,0.1);
    box-sizing: border-box;
    border-radius: 12px;
}

.form_section_content{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0;
    top: 0;
    z-index: 1;
}

#uploadImage{
    padding:10px 28px;
    display:flex;
}
#contents{
    margin:20px;
    padding-left: 28px;
    padding-right:28px;
    min-height:300px;
    width:1150px;
    resize: none;
    box-sizing: border-box;
    border-radius: 12px;
}

.commu-button{
    margin-top: 0;
    width:5%;
    height:30px;
    background-size: 50px 30px;
    background-color: rgba(238,135,3,0.2);
    color: #ee8703;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
}