@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 0, 0, 0.2);
    min-height: 60px;
    z-index: 10;
}
aside{
    margin-top: 10vh;
    position: fixed;
    width: 300px;
    height: 80vh;
    min-height: 500px;
    float:left;
}
main{
    margin-top: 300px;
    width: 75%;
    height: 80vh;
    min-height: 1000px;
    float:right;
}
div>ul{
    text-align: center;
    font-size: 20px;
}
.wrapper {width: 90%; height: 100%; background-color: rgba(166, 67, 148, 0.1); }
main>.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.wrapper>.nav>a{
    margin-right: 10px;
    border: 1px solid black;
}
.imgbox{
    position: relative;
    width: 50%;
    aspect-ratio: 2/1;
    min-width: 200px;
    min-height: 100px;
    text-align: center;
    background-color: rgba(255, 0, 0, .1);
}
.imgbox>a>img{
    border-radius: 10%;
    width: 90%;
    height: 90%;
    object-fit:cover;
    
}
.imgbox>.title{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.imgbox>.date{
    position: static;
}
footer{
    width: 100%;
    height: 10vh;
    color: rgba(121, 163, 173, 0.1);
    position: relative;
    bottom: 0;
}