.faq-container {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.faq-aside {
    width: 200px;
    background-color: #eee;
    padding: 1rem;
}

.faq-main {
    flex: 1;
    padding: 1rem;
}

.faq-prefix {
    color: green;
    font-weight: bold;
    margin-right: 10px;
}

.faq-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.faq-title:hover {
    background-color: #e7e7e7;
}

.faq-content-row {
    display: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.faq-content {
    padding: 10px;
}

.faq-category-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.faq-category-container {
    margin-bottom: 20px;
}
