#qnaBoardList_container {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}
#qnaBoardList_aside {
    width: 200px;
    background-color: #eee;
    padding: 1rem;
}
#qnaBoardList_main {
    flex: 1;
    padding: 1rem;
}
#qnaBoardList_list {
    margin-top: 20px;
}
.qnaBoardList_item {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
.qnaBoardList_title {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;
    color: #333;
    text-decoration: none;
}
.qnaBoardList_title:hover {
    text-decoration: underline;
}
.qnaBoardList_meta {
    font-size: 0.9rem;
    color: #666;
}
.qnaBoardList_date, .qnaBoardList_status {
    margin-right: 10px;
}
#qnaBoardList_pagination {
    margin-top: 20px;
    text-align: center;
}
#qnaBoardList_pagination .btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}
#qnaBoardList_pagination .btn-primary {
    background-color: #007bff;
    color: #fff;
}
#qnaBoardList_pagination .btn-default {
    background-color: #f9f9f9;
    color: #333;
}
/* 문의내역이 없습니다. */
#emptyList{
    font-size: 20px;
    margin-top: 285px;
    margin-left: 310px;
}
/* 모달 고정된 높이 설정 */
#qnaBoardList_list {
    height: 640px;
    overflow-y: auto;
}
/* 답변 완료 시 글자 색상을 초록색으로 변경 */
.qnaBoardList_status_complete {
    color: #52df52;
}