.saleboardarea{
    margin: 20px auto;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
    position: relative;
}

.saleboard-top-box{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sale-img-box{
    width: 600px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.saleboardimg{
    width: 100%;
    object-fit: cover;
}

.saleinfobox{
    width: 500px;
}

.categorybox{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size:17px;
    cursor: pointer;
    color:#9ca3af;
}

.sel-catefory{
    color:#141313;
}

.saletitle{
    width: 100%;
    overflow: hidden;
    font-size:28px;
    color:#141313;
    font-weight: 600;
    height: 42px;
}

.saleprice{
    font-size: 38px;
    color:#141313;
    font-weight: 800;
}

.tiem-view-box{
    color:#9ca3af;
    font-size: 15px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

#tradeinfo-box{
    border: 1px solid rgb(230 230 230);
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
}

.sb-p-state{
    text-align: center;
    width: 50%;
    height: 50px;
    padding-top: 15px;
    position: relative;
}

.sb-p-state:first-child::after{
    content: '';
    width: 1px;
    height: 40%;
    color:#9ca3af;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(230 230 230);
}

.tr-title{
    font-size: 12px;
    font-weight: 600;
    color:#787e89;
}

.tr-title2{
    font-size: 14px;
}

.tr-subtitle{
    font-size: 14px;
    font-weight: 600;
    color:#141313;
    margin-top: 4px;
}

.tr-subtitle2{
    padding-left: 5px;
    margin-top: 0;
}

.saleetc-box{
    margin-top: 30px;
}

.tr-li{
    margin-top: 10px;
    display: flex;
}

.tr-li2{
    margin-top: 10px;
}

.btn-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#saleboard-jjimbtn{
    margin-top: 8px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px;
    position: relative;
}

#saleboard-charbtn{
    background-repeat: no-repeat;
    background-size: 32px;
    background-color: transparent;
    border: 2px solid #ee8703;
    color:#ee8703;
}

.btn-salestyle{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color:#fff;
    padding: 10px;
    background-color: #ee8703;
    font-size: 14px;
    font-weight: 500;
}

#saleboard-myshop{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color:#fff;
    padding: 10px;
    background-color: #ee8703;
    font-size: 14px;
    font-weight: 500;
}

.Productsinfobox{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.producttitle{
    font-size:22px;
    font-weight: 700;
    color:#141313;
    padding: 0 0 20px;
    border-bottom: 1.5px solid #e6e6e6;
}

.Productinfo{
    width: 600px;
}

.productcontent{
    padding: 20px 0;
}
.productcontent-title{
    font-size: 16px;
    white-space:pre;
}

#tagDiv{
    padding: 40px 0;
    width: 100%;
}

.tag-name{
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f4f6;
}

.sallerinfo{
    width: 500px;
}

.userinfo{
    position: relative;
    width: 100%;
    height: 80px;
    padding: 20px 0;
}

.seller_nick{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    font-size: 22px;
    font-weight: 700;
    color:#141313;
}

.userprofile-box{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
}

#userprofile{
    width: 68px;
    height: 68px;
    border-radius: 100%;
    object-fit: cover;
}

#userinfo-score-box{
    border: 1px solid rgb(230 230 230);
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
}

/* 슬라이더 */
.slick-track{
    width: 100%;
}

.slick-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-size: 50px;
    background-repeat: no-repeat;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
}

.arrow-img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 5px 15px #000)

}

.slick-prev{
    left: 20px;
}

.slick-next{
    right: 20px;
}

.slick-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 0 auto;
}

.slick-dots>li{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 100%;
    margin: 0 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.slick-dots>li>button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 0;
}

.slick-dots>.slick-active {
    opacity: 1;
}

.productcontent-content{
    white-space: pre-wrap;
    font-size: 14px;
}

.title-info{
    display: flex;
}

.share-title{
    width: 94px;
    display: inline-block;
    font-size: 28px;
    color: #141313;
    font-weight: 600;
}

.like_cnt{
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translateY(-50%);
}

.sale-state-box{
    position: relative;
    z-index: 3;
}

.saleStatus-box{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}

.saleStatusText{
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1;
    color:white;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    /*line-height: 100px;*/
    font-size: 20px;
}

.slick-slide{
    position: relative;
}