:root {
    --bun-ui-sat: env(safe-area-inset-top);
    --bun-ui-sar: env(safe-area-inset-right);
    --bun-ui-sab: env(safe-area-inset-bottom);
    --bun-ui-sal: env(safe-area-inset-left);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
    -webkit-font-smoothing: inherit;
}

.sc-cPiKLX {
    display: flex;
    align-items: center;
    width: 100%;
}

.sc-cPiKLX svg {
    fill: #b2b2b2;
    margin-top: 10px; /* SVG 아이콘의 상단 여백 조절 */
}

.bun-ui-search {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 396px; /* 검색 입력 필드의 너비 */
    height: 30px; /* 검색 입력 필드의 높이 */
}

.sc-57cf470b-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 8px;
    position: relative;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    vertical-align: baseline;
}

.sc-57cf470b-3 {
    background: none;
    border: none;
    cursor: pointer;
}

.sc-57cf470b-3 svg {
    fill: #1e1d29;
}

/* 중복되지 않는 다른 스타일들 */

.article-container {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.content-section {
    display: flex;
    position: relative;
}

.text-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.footer-visible, .footer-hidden {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.footer-hidden {
    display: none;
}

footer button {
    background-color: #D80C18;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.bun-ui-tab {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #555;
}

.bun-ui-tab-selected {
    border-bottom: 2px solid #fbc02d;
    color: #f57f17;
}

.bun-ui-divider {
    border-top: 1px solid #ccc;
}

article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article header h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

article section {
    padding: 2px;
}

article section section {
    padding: 2px 0;
}

section {
    margin-bottom: 5px;
}

.mainContainer {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.maincontent {
    width: 1523px;
    /* height: 100%; */
    margin: 0 auto;
    position: relative;
}

.bun-ui-divider {
    display: flex;
    justify-content: center;
}

.purchase-info {
    /* 구매내역에 대한 CSS */
}

p {
    margin: 0;
}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}

.page-space {
    margin: 0 5px;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 103%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#myform fieldset {
    display: block;
    direction: rtl;
    border: 0;
    text-align: center;
    margin: 20px 0;
}

#starRating {
    display: flex;
    justify-content: center;
}

#myform input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#myform label {
    font-size: 3em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

#myform input[type=radio]:checked ~ label,
#myform label:hover,
#myform label:hover ~ label {
    color: rgba(250, 208, 0, 0.99);
}

#reviewContents {
    width: calc(100% - 0px);
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
}

button[type="button"] {
    padding: 5px 10px;
    background-color: #ffeb3b;
    border: none;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button[type="button"]:hover {
    background-color: #fdd835;
    color: #111;
}

.navigation {
    background-color: #f7d564;
    color: #333;
    width: 200px;
    float: left;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: block;
}

.navigation ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
}

.navigation ul li.main-title a {
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgba(245, 157, 28, 1);
    color: white;
    margin-bottom: 5px;
}

.navigation ul li.sub-title a {
    font-weight: bold;
    color: white;
    background-color: rgba(245, 157, 28, 1);
    padding: 5px 10px;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background-color: #e3c565;
}

.saleinfo-box {
    height: 1400px;
}
