.article-container {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.content-section {
    display: flex;
    position: relative; /* Position 설정 */
}

.text-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.footer-visible, .footer-hidden {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.footer-hidden {
    display: none;
}

footer button {
    background-color: #D80C18;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 아래는 기존 CSS */
.bun-ui-tab {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #555;
}

.bun-ui-tab-selected {
    border-bottom: 2px solid #fbc02d; /* 더 진한 노란색 */
    color: #f57f17; /* 어울리는 글자 색상 */
}

.bun-ui-divider {
    border-top: 1px solid #ccc;
}

article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article header h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

article section {
    padding: 2px;
}

article section section {
    padding: 2px 0;
}

section {
    margin-bottom: 5px;
}

.mainContainer {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.bun-ui-divider {
    display: flex;
    justify-content: center;
}

.sc-57cf470b-1.fFtTgD {
    --bun-ui-sat: env(safe-area-inset-top);
    --bun-ui-sar: env(safe-area-inset-right);
    --bun-ui-sab: env(safe-area-inset-bottom);
    --bun-ui-sal: env(safe-area-inset-left);
    word-break: keep-all;
    -webkit-font-smoothing: inherit;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0px;
    border: 0px;
    vertical-align: baseline;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px 20px 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.purchase-info {
    /* 구매내역에 대한 CSS */
}

p {
    margin: 0;
}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}

.page-space {
    margin: 0 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 600px;
    margin: auto;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#myform fieldset {
    display: block;
    direction: rtl;
    border: 0;
    text-align: center;
    margin: 20px 0;
}

#starRating {
    display: flex;
    justify-content: center;
}

#myform input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#myform label {
    font-size: 3em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

#myform input[type=radio]:checked ~ label,
#myform label:hover,
#myform label:hover ~ label {
    color: rgba(250, 208, 0, 0.99);
}

#reviewContents {
    width: calc(100% - 20px);
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
}

button[type="button"] {
    padding: 5px 10px;  /* 버튼 크기 줄이기 */
    background-color: #ffeb3b;  /* 노란색 배경 */
    border: none;
    color: #333;  /* 어울리는 글자 색 */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;  /* 글자 크기 조절 */
}

button[type="button"]:hover {
    background-color: #fdd835;  /* 호버 시 약간 어두운 노란색 */
    color: #111;  /* 호버 시 어울리는 글자 색 */
}

.navigation {
    background-color: #f7d564; /* 치즈 느낌의 배경색 */
    color: #333; /* 어두운 텍스트 색상 */
    width: 200px;
    float: left;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: block;
}

.navigation ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333; /* 어두운 텍스트 색상 */
}

/* 제목 스타일 */
.navigation ul li.main-title a {
    font-weight: bold;
    font-size: 1.2em; /* 글씨 크기를 크게 조정 */
    color: #ffd700; /* 진한 노란색으로 변경 */
    margin-bottom: 5px; /* 제목 아래로 약간의 여백 추가 */
}

/* 부제목 스타일 */
.navigation ul li.sub-title a {
    font-weight: bold;
    color: #ff5733; /* 부제목 색상 변경 (예시: 오렌지색) */
    background-color: #ffe4b5; /* 부제목 배경색 변경 (예시: 연한 주황색) */
    margin-left: 10px; /* 오른쪽으로 살짝 이동 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 라운드 처리 */
}

/* 나머지 링크 스타일 */
.navigation ul li a:hover {
    background-color: #e3c565; /* 호버 시 치즈 느낌의 어두운 색상 */
}


.saleinfo-box {
    height: 1400px;
}
