.totalBox {
    height: fit-content;
    position: relative;
    margin-bottom: 60px;
}

.center-content {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;
    height: 450px;
}

.saleListBox {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12.5px;
}

.smallBox {
    width: 230px;
    height: 330px;
    margin-bottom: 10px;
    background: white;
    position: relative;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1.5px solid #00000010;
    border-top: 1.5px solid #00000010;
    border-radius: 12px;
    overflow: hidden;
}

.img {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    object-fit: cover;
}

#pageContainer {
    display: flex;
    position: absolute;
    left: 50%;
    /*bottom: 20px;*/
    transform: translateX(-50%);
    text-align: center;
    margin: 10px 0;
}

.info {
    padding: 0 10px;
}

/*#saleListBox {*/
/*    margin: 0 auto; !* 수평 가운데 정렬 *!*/
/*    width: 80%; !* 테이블의 너비 설정 *!*/
/*    text-align: center; !* 텍스트 가운데 정렬 *!*/
/*}*/

.page-space {
    margin: 0 5px; /* 공백 크기 조절 */
}

/* 임시로 style 추가 : css 수정 필요*/
.imgClass {
    width: 100px;
    height: 100px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.saleBtn {
    padding: 5px 20px;
    background-color: #ee8703;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addr_cd {
    /*display: block;*/
    width: 200px;
    height: 28px;
    text-align: center;
    margin-right: 5px;
    outline: none;
}

#addr_cd>option {
    background: black;
    color: #fff;
    padding: 3px 0;
}

.style-sel-category{
    width: 100px;
    height: 28px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.rarrow{
    display: inline-block;
    padding: 0 4px;
}

.info-imgbox{
    position: relative;
}

.active-nego{
    position: absolute;
    left: 5px;
    bottom: 10px;
    background-color: #ee8703;
    border-radius:4px;
    font-size: 10px;
    padding: 2px 4px 0px;
    color:#fff;
}

.info-sale{
    display: flex;
    justify-content: space-between;
}

.saleTitle{
    display:inline-block;
    font-size: 16px;
    font-weight: inherit;
    margin: 6px 0 0;
}

.saledate{
    margin: 4px 0;
    font-size: 14px;
    color: #999;
}

.salePrice{
    display:inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #141313;
}

.addr-box{
    border-top: 1px solid #eee;
}

.saleaddr{
    margin: 4px 0;
    font-size: 14px;
    color: #999;
}

.saleStatus-box{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}

.saleStatusText{
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1;
    color:white;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    /*line-height: 100px;*/
    font-size: 20px;
}
.page{
    font-size: 16px;
}
.paging-active{
    color: #ee8703;
}

.center-content {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    height: 400px;
    line-height: 400px;
}