.selectOptiondiv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    gap:10px;
}

.searchbar{
    width: 300px;
    padding: 5px 5px 5px 30px;
    font-size: 14px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    outline: none;
}

select {
    font-size: 16px;
    padding: 5px;
}

.selectOptionTx{
    display: flex;
    column-gap: 24px;
    font-size: 18px;
}

.optionTx {
    line-height: normal;
    cursor: pointer;
}

.totalBox {
    width: 1200px;
    height: 1900px;
    margin: auto;
}

.totalBox table thead > tr {
    height: 2.5rem;
}

.totalBox table tr > :nth-child(3) {
    width: 218px;
}

.totalBox table thead > tr > th {
    vertical-align: middle;
}
.totalBox table tr > * {
    flex-shrink: 0;
}

.saleList {
    border-bottom: 2px solid #eeeeee;
    text-align: center;
}

.totalTable {
    width: 100%;
    border-top: 1px solid #787e89;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border-bottom: 1px solid #787e89;
    padding: 10px;
    font-size: 16px;
}

.tableHead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.imgClass {
    width: 152px;
    height: 152px;
    /*background-color: yellow;*/
    margin: 0 auto;
}

.Thumbnail_ima {
    width: 80px;
    height: 80px;
}

/* 원하는 색상으로 선택된 옵션 변경 */
.optionTx.selected {
    color: #ee8703; /* 빨간색 */
    font-weight: 600;
}

/* 선택되지 않은 옵션 색상 변경 */
.optionTx:not(.selected) {
    color: #7F7F7F; /* 회색 */
    font-weight: 600;
}

.btnColorRed {
    color: rgb(216, 12, 24);
}

.btnColorBlue {
    color: rgb(2, 122, 255);
}

.Btn {
    width: 4.875rem;
    height: 2rem;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(195, 194, 204);
    background-color: white;
    font-weight: 800;
    line-height: normal;
    margin: 2px;
}

.page-space {
    margin: 0 5px; /* 공백 크기 조절 */
}

.saleStatus-box{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}

.saleStatusText{
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1;
    color:white;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    /*line-height: 100px;*/
    font-size: 20px;
}

#pageContainer {
    display: flex;
    position: absolute;
    left: 50%;
    /*bottom: 20px;*/
    transform: translateX(-50%);
    text-align: center;
}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}

.btn-sel-box{
    display: flex;
    height: 50px;
    margin-top: 20px;
}

.sel-manage{
    width: 600px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    position: relative;
    color: #7F7F7F;
    border-bottom: 2px solid #dadee5;
}

.sel-manage-active{
    border: 2px solid #ee8703;
    border-bottom: none;
    color: #ee8703;
}

#buyerlist-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 11;
    padding: 10px;
}

#buyerForm{
    position: relative;
    height: 372px;
    margin-top: 24px;
}

.buyerlist-item{
    display: flex;
}

.buyer-profile-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    object-fit: cover;
}

.p-buyer-nick{
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 10px;
}

.choicebtn{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ee8703;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color:#fff;
}

.buylist-close-btn{
    position: absolute;
    right: 3px;
}