.totalBox {
    height: fit-content;
    position: relative;
    width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    /*margin-top: 20px;*/
    /*background: rgba(255, 0, 0, 0.1);*/
    padding: 20px;
    box-sizing: border-box;
    /*box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 10px;*/
}

.liBox {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f9f9f9;
    /*border-bottom: 2px solid rgb(25, 25, 25);*/
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.liBox > * {
    flex: 1;
}

#openModalBtn,#unCheckBtn {
    all: unset;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ee8703;
    font-size: 16px;
}


.SaleModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.sale_modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.sale_modal_content {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    width: 50%;
    top: 0px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow-y: auto;
    /* 세로 스크롤이 필요한 경우 스크롤 허용 */
    max-height: 70%;
    /* 모달 창의 최대 높이 설정 */
}

#closeModalBtn {
    position: absolute;
    top: 10px;
    /* 원하는 위치로 조정 */
    right: 10px;
    /* 원하는 위치로 조정 */
    background-color: transparent;
    /* 배경색 설정 */
    border: none;
    /* 테두리 제거 */
    cursor: pointer;
    /* 마우스 커서를 포인터로 변경 */
}

.sale-table-wrapper {
    overflow-y: auto;
    max-height: 200px;
}

.sale-addr-tr:hover {
    background-color: rgba(245, 157, 28, 0.5);
    cursor: pointer;
}


#saleSearchInput {
    /* 모달 창의 너비에 맞게 조정 */
    width: 100%;
    padding: 10px;
    /* 내부 여백 설정 */
    margin: 0 auto;
    /* 가운데 정렬 */
}


#addrTable {
    width: 100%;
    /* addrTable의 너비를 100%로 설정하여 모달 창에 맞춤 */
}

#sale_search_addr {
    margin: 0;
}

.SaleHidden {
    display: none;
}

/* input text 및 textarea 너비 조절 */
input[type="text"], input[type="number"] {
    /* 전체 너비에서 여백을 뺀 값으로 설정 */
    /*width: calc(100% - 50px);*/
    width: 100%;
    margin: auto;
    padding: 15px;
    /* 내부 여백 설정 */
    margin-top: 10px;
    resize: none;
}


#contents {
    width: 100%;
    height: 40vh;
    margin: auto;
    padding: 20px;
    /* 내부 여백 설정 */
    margin-top: 10px;
    resize: none;
}

select {
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    resize: none;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 20;
    display: none;
}

#loadingSpinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #ee8703;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loadingMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#uploadResult {
    display: flex;
}

#uploadResult > div {
    flex: 0 0 auto; /* 자동 크기, 크기 조정 없음 */
    margin-right: 10px; /* 간격 설정 */
}

.btnStyle {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 40px;
}

.saleTitleText {
    height: 100px;
    font-weight: 900;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(25, 25, 25);
    margin-block-end: 20px;
}

.rightlocate {
    float: right;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.font16 {
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
}

.font10 {
    font-size: 10px;
}

.font20{
    font-size: 20px;
}

.fontWeight {
    font-weight: 600;
}

.font30{
    font-weight: 600;
}

.marginTopFont10 {
    margin-top: 10px;
}


.li-list {
    display: flex;
    margin-top: 5px;
}

.li-list::before {
    content: "- ";
}

.fixed-submit {
    width: 100%;
    height: 5.5rem;
    background: #eeeeee;
    box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px;
    left: 0px;
    bottom: 0px;
    z-index:12;
    position: sticky;
}

.div-submit {
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    gap: 14px;
    width: 1159px;
    margin: auto;
}

.div-line {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.dadRxL {
    width: 1200px;
    display: flex;
    height: 100%;
    font-size: 20px;
}

/* 이미지 영역 */

.imgreg-box{
    display: flex;
}

.regimgbtn{
    display: inline-block;
    width: 78px;
    height: 78px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #f1f4f6;
    border-radius: 5px;
    background-position: 50% 36%;
    margin-right: 10px;
    cursor: pointer;
}

#resizable{
    border-radius: 5px;
}

#result_card{
    position: relative;
}

.imgDeleteBtn{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    background-color: #f1f4f6;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    color: #131414;
    line-height: 18px;
    cursor: pointer;
}

.form_section_content{
    position: relative;
}

.imgcnt{
    position: absolute;
    left: 50%;
    bottom :5px;
    transform: translateX(-70%);
    color: #9ca3af;
}

#categoryContainer{
    display: flex;
    justify-content: start;
}

.ctitle{
    width: 200px;
}

.categorylist{
    width: 300px;
    height: 300px;
    border: 1px solid #9ca3af;
    overflow: scroll;
    -ms-overflow-style: none;
    margin: 0;
    position: relative;
}

.categorylist::-webkit-scrollbar{
    display:none;
}

.category1-li, .category2-li, .category3-li{
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: rgb(33, 33 ,33);
    cursor: pointer;
}

.category1-li:hover, .category2-li:hover, .category3-li:hover{
    background-color: #f6f6f6;
}

.vertical{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    background-color: transparent;
}

.vertical:hover{
    background-color: transparent;
}

.category-sel-info{
    margin-left: 200px;
}

.choicecategory{
    background-color: #f6f6f6;
    color:#ed9523;
}