<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <typeAlias alias="BoardDao" type="com.fastcampus.ch2.dao.BoardDao"/>-->
        <typeAlias alias="CommuDto" type="team.cheese.Domain.Commu.CommuDto"/>
        <typeAlias alias="PostDto" type="team.cheese.Domain.Post.PostDto"/>

    </typeAliases>
</configuration>
