<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="team.cheese.domain.UserDto"/>
        <typeAlias alias="AdminDto" type="team.cheese.domain.AdminDto"/>
        <typeAlias alias="AddrCdDto" type="team.cheese.domain.AddrCdDto"/>
    </typeAliases>
</configuration>
