<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.AdministrativeMapper">
    <sql id="selectFromAdministrative">
        SELECT addr_cd, addr_name
        FROM administrative
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM administrative
    </select>

<!--  사용자가 선택하는거니까 select문 필요  -->
    <select id="selectAddrCd" resultType="AdministrativeDto">
        <include refid="selectFromAdministrative"/>
        WHERE
        addr_cd = #{addr_cd}
    </select>


    <select id="searchLetter" resultType="AdministrativeDto">
        <include refid="selectFromAdministrative"/>
        WHERE
        addr_name LIKE CONCAT('%', #{searchLetter}, '%')
        AND LENGTH(addr_cd) = 8
    </select>

<!-- Update -->
<!--  관리자가 행정동코드 사용미사용 정하는 경우 : state  -->
    <update id="update" parameterType="AdministrativeDto">
        UPDATE administrative
            SET state = #{state}, last_id = #{last_id}, last_date = now()
        WHERE
            addr_cd = #{addr_cd}
    </update>

</mapper>