<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.BidingMapper">
    <sql id="selectFromBiding">
        SELECT no, sal_no, addr_cd, addr_name, bid_cd, buyer_id, price, reason, bid_state, bid_date, grant_state, grant_date, bid_cnt
        FROM biding
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM biding
    </select>

<!--  사용하는 데이터의 개수 확인  -->
    <select id="countUse" resultType="int">
        SELECT count(*)
        FROM sale
        WHERE
            bid_state = 'Y' -- 사용자가 취소했는지 안했는지 여부임(Y : 삭제안한 상태)
    </select>

<!--  D : 전체 삭제   -->
    <delete id="deleteAll">
        DELETE FROM biding
    </delete>

    <update id="resetAutoIncrement" parameterType="map">
        alter table biding auto_increment = 1
    </update>

</mapper>