<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.BoardDao">

    <update id="StateChange" parameterType="map">
        update ${tablename}
        <if test="state=='N'">
            set state = 'Y'
        </if>
        <if test="state=='Y'">
            set state = 'N'
        </if>
        where no = #{no}
    </update>
</mapper>