<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.ChatMapper">
<!--    방에 따른 채팅 보여주기-->
<!--    <select id="selectRoom" parameterType="Long" resultType="ChatDto">-->
<!--        select * from chat_msg-->
<!--        where cr_no = #{cr_no} and  del_state ='N'-->
<!--        order by msg desc-->
<!--    </select>-->
<!--&lt;!&ndash;    채팅 입력&ndash;&gt;-->
<!--    <insert id="insert" parameterType="chatDto">-->
<!--        insert into chat_msg(cr_no, nick, content, first_id, last_id) value(#{cr_no}, #{nick}, #{content}, #{first_id}, #{last_id})-->
<!--    </insert>-->
</mapper>