<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.CommunityBoard.BoardMapper">
    <!--    커뮤 게시판 카테고리 전체 count-->

    <select id = "count" resultType="int">
        select count(*) from community_board;
    </select>

    <insert id="insert_community_board" parameterType="CommunityBoardDto" useGeneratedKeys="true" keyProperty="no">
        insert into community_board(ur_id,addr_cd,addr_no,commu_cd,commu_name, addr_name,title,contents, nick, img_full_rt, group_no, first_id, last_id)
        values (#{ur_id},#{addr_cd},#{addr_no},#{commu_cd},#{commu_name},#{addr_name},#{title},#{contents},#{nick},#{img_full_rt},#{group_no},#{first_id},#{last_id})
    </insert>




    <select id = "selectAll" resultType="CommunityBoardDto">
        select * from community_board where ur_state = #{ur_state} order by r_date desc;
    </select>

    <select id="selectPage" parameterType="map" resultType="CommunityBoardDto">
        select * from community_board where ur_state = 'y' order by r_date desc
        LIMIT #{offset},#{pageSize};
    </select>

    <select id = "select" resultType="CommunityBoardDto">
        select * from community_board where no = #{no}
    </select>


    <update id = "update" parameterType="CommunityBoardDto">
        update community_board
        set title = #{title} , contents = #{contents}, m_date = #{m_date}, group_no=#{group_no}, img_full_rt=#{img_full_rt}
        where no = #{no}
    </update>


    <update id = "userChangeState" parameterType="CommunityBoardDto">
        update community_board
        set ur_state = #{ur_state}
        where no = #{no};
    </update>

    <delete id = "delete" parameterType="Integer">
        delete from community_board where no = #{no}
    </delete>
    <delete id = "deleteAll" parameterType="Integer">
        delete from community_board
    </delete>
    <update id = "increaseViewCnt" parameterType="Integer">
        update community_board set view_cnt = view_cnt+1
        where no=#{no}
    </update>


    <update id="increaseLikeCnt" parameterType="Integer">
    <![CDATA[
        UPDATE community_board b
        SET b.like_cnt = (
            SELECT COUNT(*)
            FROM community_heart h
            WHERE h.post_no = b.no AND h.ur_state = 'y'
        )
        WHERE b.like_cnt <> (
            SELECT COUNT(*)
            FROM community_heart h
            WHERE h.post_no = b.no AND h.ur_state = 'y'
        );
        ]]>
</update>

    <select id = "getTopTen" resultType="CommunityBoardDto">
        select b.no, c.name,b.title, b.nick, b.view_cnt, b.addr_name
        from community_board b
                 join commu c on b.commu_cd = c.commu_cd
        order by view_cnt desc
            limit 10;
    </select>

<!--    추가-->
<!--    댓글 카운팅  추가-->
    <update id="updateCommentCnt" parameterType="map">
        UPDATE community_board b
        SET b.comment_count = b.comment_count + #{cnt}
        WHERE b.no = #{no};
    </update>


    <select id="selectPageByCategory" parameterType="map" resultType="CommunityBoardDto">
        SELECT * FROM community_board
        WHERE ur_state = 'y'
        <if test="category != 'commu_A'">
            AND commu_cd = #{category}
        </if>
        ORDER BY no DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectCountByCategory" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM community_board
        WHERE ur_state = 'y'
        <if test="category != 'commu_A'">
            AND commu_cd = #{category}
        </if>
    </select>


</mapper>