<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.Commu.CommuMapper">
<!--    커뮤 게시판 카테고리 전체 count-->
    <select id="count" resultType="int">
        SELECT count(*) FROM commu
    </select>

    <insert id="insert" parameterType="CommuDto">
        INSERT INTO commu
            (commu_cd,name,first_id)
        values(#{commuCd},#{name},#{firstId});
    </insert>

    <select id = 'select' parameterType="string" resultType="CommuDto">
        SELECT * from commu where commu_cd = #{commuCd};
    </select>

    <update id="update" parameterType="CommuDto">
        UPDATE commu SET commu_cd = #{commuCd}, name = #{name} ,last_id = #{lastId} where commu_cd = #{commuCd};
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM commu where name=#{name} and first_id = #{firstId};
    </delete>
</mapper>