<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.HoistingMapper">
    <sql id="selectFromHoisting">
        SELECT no, sal_no, addr_cd, addr_name, seller_id, sal_id_cd, h_date
        FROM hoisting
    </sql>

<!--  데이터의 개수 확인  -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM hoisting
    </select>

<!--  D : 전체 삭제   -->
    <delete id="deleteAll">
        DELETE FROM hoisting
    </delete>

    <update id="resetAutoIncrement" parameterType="map">
        alter table hoisting auto_increment = 1
    </update>

</mapper>