<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.Post.PostMapper">
<!--각 구별로 총 몇 개의 글이 있는지-->
    <select id = "count" resultType="int">
        select count(*) from post;
    </select>

    <insert id="insert" parameterType="PostDto">
        insert into post(ur_id,addr_cd,no,commu_cd,addr_name,title,contents, nick)
        values (#{urId},#{addrCd},#{no},#{commuCd},#{addrName},#{title},#{contents},#{nick})
    </insert>

    <select id = "selectAll" resultType="PostDto">
        select * from post;
    </select>

</mapper>