<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.Post.PostMapper">
<!--각 구별로 총 몇 개의 글이 있는지-->
    <select id = "count" resultType="int">
        select count(*) from post;
    </select>

    <insert id="insert" parameterType="PostDto">
        insert into post(ur_id,addr_cd,no,commu_cd,addr_name,title,contents, nick)
        values (#{ur_id},#{addr_cd},#{no},#{commu_cd},#{addr_name},#{title},#{contents},#{nick})
    </insert>


    <select id = "selectAll" resultType="PostDto">
        select * from post order by r_date desc;
    </select>

    <select id = "select" resultType="PostDto">
        select * from post where sn = #{sn}
    </select>


    <update id = "update" parameterType="PostDto">
        update post set title = #{title} , contents = #{contents},m_date = #{m_date}
        where sn = #{sn}
        </update>

    <delete id = "delete" parameterType="Integer">
        delete from post where sn = #{sn}
    </delete>
    <delete id = "deleteAll" parameterType="Integer">
        delete from post
    </delete>
    <update id = "increaseViewCnt" parameterType="Integer">
        update post set view_cnt = view_cnt+1
        where sn=#{sn}
    </update>


    <update id = "increaselike_cnt" parameterType="Integer">
        update post set like_cnt = like_cnt+1
        where sn=#{sn}
    </update>


    <select id = "getTopTen" resultType="PostDto">
        select p.sn, c.name,p.title, p.nick, p.view_cnt, p.addr_name
        from post p
        join commu c on p.commu_cd = c.commu_cd
        order by view_cnt desc
        limit 10;
    </select>



</mapper>