<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.Dao.MyPage.ReviewCommentDao">
    <sql id="selectReviewComment">
        select
            no,
            sal_id,
            psn,
            buy_id,
            buy_nick,
            contents,
            reviewStar,
            r_date,
            m_date,
            ur_state,
            ad_state,
            first_date,
            first_id,
            last_date,
            last_id
        from review_comment
    </sql>
    <select id="count" parameterType="String" resultType="int">
        select count(*)
        from review_comment
        where sal_id = #{sal_id}
    </select>
    <select id="select"  parameterType="Integer" resultType="ReviewCommentDto">
        <include refid="selectReviewComment"/>
        where no = #{no}
    </select>
    <select id="selectAll" parameterType="String" resultType="ReviewCommentDto">
        <include refid="selectReviewComment"/>
        where sal_id = #{sal_id}
        order by r_date desc, no desc
    </select>
    <select id="selectPage" parameterType="map" resultType="ReviewCommentDto">
        <include refid="selectReviewComment"/>
        where sal_id = #{sal_id}
        order by r_date desc, no desc
        LIMIT #{offset},#{pageSize}
    </select>
    <insert id="insert" parameterType="ReviewCommentDto">
        insert into review_comment (sal_id, buy_id, buy_nick, contents,reviewStar,first_date,first_id,last_date,last_id)
        values (#{sal_id},#{buy_id},#{buy_nick},#{contents},#{reviewStar},now(),#{buy_id},now(),#{buy_id})
    </insert>
    <update id="update" parameterType="ReviewCommentDto">
        update review_comment
        set contents = #{contents}
          ,  reviewStar = #{reviewStar}
          , m_date = now()
          , last_date = now()
          , last_id = #{buy_id}
        where buy_id = #{buy_id} and no = #{no}
    </update>
    <delete id="delete" parameterType="map">
        delete from review_comment
        where buy_id = #{buy_id} and no = #{no}
    </delete>
    <delete id="deleteAll" parameterType="String">
        delete from review_comment where sal_id = #{sal_id}
    </delete>
    <update id="stateChange" parameterType="String">
        update review_comment
            set ur_state = 'N'
        where no = #{no}
    </update>
</mapper>