<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.RoomMapper">
<!--    <select id="selectmyroom" parameterType="String" resultType="RoomDto">-->
<!--        select * from chat_room-->
<!--        where seller_id=#{id} or buyer_id = #{id}-->
<!--    </select>-->

</mapper>