<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.SaleImgMapper">
    <sql id="selectFromSaleImg">
        SELECT sal_no, img_no
        FROM sale_img
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM sale_img
    </select>

    <!--  R : 전체 테이블 읽어오기  -->
    <select id="selectAll" resultType="SaleImgDto">
        <include refid="selectFromSaleImg"/>
    </select>

<!-- !!!!!!수정해야됨   -->
<!--  R : 선택한 판매글의 이미지를 읽어오기(join문)  -->
    <select id="selectSaleImg" parameterType="int" resultMap="joinTag">
        SELECT a.sal_no, a.tag_no, b.contents
            FROM sal_tag a
        LEFT JOIN tag b ON a.tag_no = b.no
        WHERE a.sal_no = #{sal_no}
    </select>

    <resultMap id="joinTag" type="SaleImgDto">
        <!-- 1 : 다 관계의 경우 데이터 매핑시켜준다.
                association => 1 : 1 관계
                collection => 1 : 다 관계 (하나의 판매글에 여러개의 태그)
                일반 컬럼과 pk 구분 가능 (pk 칼럼에게는 result 아닌 id 사용)
        -->
        <id property="sal_no" column="sal_no"/>
        <result property="tag_no" column="tag_no"/>
        <collection property="tagDto" javaType="team.cheese.domain.TagDto">
            <result property="contents" column="contents"/>
        </collection>
    </resultMap>

    <!--  D : 데이터 전체 삭제  -->
    <delete id="deleteAll">
        DELETE FROM sale_img
    </delete>

    <update id="resetAutoIncrement" parameterType="map">
        alter table sale_img auto_incresement = 1;
    </update>


</mapper>