<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.SaleTagMapper">
    <sql id="selectFromTag">
        SELECT sal_no, tag_no, first_date, first_id, last_date, last_id
        FROM sale_tag
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM sale_tag
    </select>

    <!--  R : 판매글 번호에 해당하는 테이블 읽어오기  -->
    <select id="selectSalNo" resultType="SaleTagDto">
        <include refid="selectFromTag"/>
        WHERE sal_no = #{sal_no}
    </select>

    <!--  R : 전체 테이블 읽어오기  -->
    <select id="selectAll" resultType="SaleTagDto">
        <include refid="selectFromTag"/>
    </select>

<!--    &lt;!&ndash;  R : 사용하는 행만 읽어오기  &ndash;&gt;-->
<!--    <select id="selectUse" resultType="TagDto">-->
<!--        <include refid="selectFromTag"/>-->
<!--        WHERE-->
<!--        state = 'Y'-->
<!--    </select>-->

    <!--  R : 태그명 조회하기(태그 번호만 반환)  -->
    <select id="selectTagContents" parameterType="TagDto" resultType="SaleTagDto">
        SELECT no
        WHERE
            state = 'Y'
          and contents = #{contents}
    </select>

    <!--  U : 태그 존재하지 않을 때 삽입  -->
    <insert id="insert" parameterType="SaleTagDto">
        INSERT INTO sale_tag (sal_no, tag_no, first_date, first_id, last_date, last_id)
        values (#{sal_no}, #{tag_no}, now(), #{first_id}, now(), #{last_id})
    </insert>

    <!--  D : 선택한 판매글의 태그를 삭제  -->
    <delete id="delete">
        DELETE FROM sale_tag
        WHERE sal_no = #{sal_no}
    </delete>

    <!--  D : 데이터 전체 삭제  -->
    <delete id="deleteAll">
        DELETE FROM sale_tag
    </delete>

    <update id="resetAutoIncrement" parameterType="map">
        alter table sale_tag auto_increment = 1
    </update>


</mapper>