<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.SaleCategoryMapper">
    <sql id="selectFromSaleCategory">
        SELECT sal_cd, name
        FROM sale_category
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM sale_category
    </select>

    <select id="countUse" resultType="int">
        <include refid="selectFromSaleCategory"/>
        WHERE 1=1
        AND state = 'Y'
    </select>

    <!-- CRUD  -->
<!--
1. 카테고리를 보여주기 위한 작업.
2. select
  -->
    <select id="selectAll" resultType="SaleCategoryDto">
        <include refid="selectFromSaleCategory"/>
        WHERE
        state = 'Y'
    </select>

    <select id="selectCategory1" resultType="SaleCategoryDto">
        <include refid="selectFromSaleCategory"/>
        WHERE
        LENGTH(sal_cd) = 3
        AND state='Y'
        ORDER BY sal_cd
    </select>

    <select id="selectCategory2" resultType="SaleCategoryDto">
        <include refid="selectFromSaleCategory"/>
        WHERE
        sal_cd LIKE CONCAT(#{category1}, '%')
        AND LENGTH(sal_cd) = 6
        AND state='Y'
        ORDER BY sal_cd
    </select>

    <select id="selectCategory3" resultType="SaleCategoryDto">
        <include refid="selectFromSaleCategory"/>
        WHERE
        sal_cd LIKE CONCAT(#{category2}, '%')
        AND LENGTH(sal_cd) = 9
        AND state='Y'
        ORDER BY sal_cd
    </select>

    <select id="categoryName" parameterType="map" resultType="String">
        SELECT name
        FROM sale_category
        WHERE
        LENGTH(sal_cd) = #{length}
        AND state='Y'
        AND sal_cd = #{sal_cd}
    </select>

</mapper>