<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.TagMapper">
    <sql id="selectFromTag">
        SELECT no, contents, state
        FROM tag
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM tag
    </select>

<!--  R : 전체 테이블 읽어오기  -->
    <select id="selectAll" resultType="TagDto">
        <include refid="selectFromTag"/>
    </select>

<!--  R : 사용하는 행만 읽어오기  -->
    <select id="selectUse" resultType="TagDto">
        <include refid="selectFromTag"/>
        WHERE
        state = 'Y'
    </select>

<!--  R : 태그명 조회하기(태그 번호만 반환)  -->
    <select id="selectTagContents" parameterType="TagDto" resultType="TagDto">
        <include refid="selectFromTag"/>
        WHERE
        state = 'Y'
        and contents = #{contents}
    </select>

<!--  C : 태그 존재하지 않을 때 삽입  -->
    <insert id="insert" parameterType="TagDto" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO tag (contents, first_date, first_id, last_date, last_id)
        values (#{contents}, now(), #{first_id}, now(), #{last_id})
    </insert>

<!--  U : 태그 존재할 때 시스템 컬럼 업데이트  -->
    <insert id="update" parameterType="TagDto">
        UPDATE tag
        SET last_date = now(),
            last_id = #{last_id}
        WHERE no = #{no}
    </insert>

<!--  D : 데이터 전체 삭제  -->
    <delete id="deleteAll">
        DELETE FROM tag
    </delete>

    <update id="resetAutoIncrement" parameterType="map">
        alter table tag auto_increment = 1
    </update>
</mapper>