<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.UserDao">

<!--    모든 유저를 제거한다-->
    <delete id="deleteAllUsers">
        DELETE
        FROM user
        WHERE id > '0'
    </delete>

<!--    모든 유저 수를 가져온다-->
    <select id="getCnt" resultType="int">
        SELECT count(*)
        FROM user
    </select>

<!--    모든 유저의 정보를 가져온다-->
    <select id="getAllUsers" resultType="UserDto">
        SELECT *
        FROM user
    </select>

<!--    특정 아이디를 가진 유저를 가져온다-->
    <select id="getUserById" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

<!--    새로운 유저를 추가한다-->
    <insert id="insertNewUser" parameterType="UserDto">
        INSERT INTO user (id, pw, name, nick, birth, gender, phone_num, safe_num, foreigner, email, s_cd, addr_det, first_id, last_id)
        VALUES (#{id}, #{pw}, #{name}, #{nick}, #{birth}, #{gender}, #{phone_num}, #{safe_num}, #{foreigner}, #{email}, #{s_cd}, #{addr_det}, #{id}, #{id})
    </insert>
    
<!--    모든 유저의 아이디만 읽어온다-->
    <select id="getAllUsersId" resultType="String">
        SELECT id
        FROM user
    </select>

<!--    유저의 정보를 수정한다-->
<!--    닉네임, 전화번호, 이메일-->
    <update id="updateUser" parameterType="map">
        UPDATE user
        SET nick = #{nick}, phone_num = #{phone_num}, email = #{email}
        WHERE id = #{id}
    </update>

<!--    유저의 비밀번호만 변경된다-->
    <update id="updateUserPw" parameterType="map">
        UPDATE user
        SET pw = #{pw}
        WHERE id = #{id}
    </update>
    
<!--    유저의 유저상태를 변경한다-->
    <update id="updateUser_s_cd" parameterType="map">
        UPDATE user
        SET s_cd = #{s_cd}
        WHERE id = #{id}
    </update>
</mapper>
